<div class="mdk-header-layout__content page-content ">
    <div class="py-32pt navbar-submenu">
        <div class="container page__container">
            <div class="progression-bar progression-bar--active-accent">
                <a href="pricing.html" class="progression-bar__item progression-bar__item--complete">
                    <span class="progression-bar__item-content">
                        <i class="material-icons progression-bar__item-icon"></i>
                        <span class="progression-bar__item-text h5 mb-0 text-uppercase">Pricing</span>
                    </span>
                </a>
                <a href="signup.html" class="progression-bar__item progression-bar__item--complete">
                    <span class="progression-bar__item-content">
                        <i class="material-icons progression-bar__item-icon"></i>
                        <span class="progression-bar__item-text h5 mb-0 text-uppercase">Account details</span>
                    </span>
                </a>
                <a href="signup-payment.html"
                    class="progression-bar__item progression-bar__item--complete progression-bar__item--active">
                    <span class="progression-bar__item-content">
                        <i class="material-icons progression-bar__item-icon"></i>
                        <i class="progression-bar__item-circle"></i>
                        <span class="progression-bar__item-text h5 mb-0 text-uppercase">Payment details</span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-section custom-body">
        <div class="container page__container">
            <form action="index.html" class="col-md-8 p-0 mx-auto">
                <div class="list-group list-group-form mb-0">
                    <div class="list-group-item">
                        <div class="form-group row align-items-center mb-0">
                            <label for="payment_type" class="col-form-label form-label col-sm-3">Payment type</label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary active">
                                        <input type="radio" name="payment_type" value="cc" checked> Debit or credit card
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="payment_type" value="pp"> PayPal
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-form-label form-label col-sm-3">Card number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Credit / debit card number" />
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-form-label form-label col-sm-3">Security code (CVV)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="CVV" style="width:80px">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-form-label form-label col-sm-3">Expiration date</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-6 ">
                                        <select class="form-control">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7" selected>July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <input type="number" class="form-control" placeholder="Year" min="2024"
                                            max="2055" value="2025" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item text-center">
                    <button type="submit" class="btn btn-primary">Pay Now</button>
                </div>
            </form>
        </div>
    </div>
   
</div>

<!-- // END Header Layout Content -->

<!-- Footer -->
