<div class="page-section pb-0">
  <div class="container-fluid page__container d-flex flex-column flex-sm-row align-items-sm-center">
    <div class="flex">
      <h1 class="h2 mb-0">Password Management</h1>
      <p class="text-breadcrumb">Account Management</p>
    </div>
    <a class="btn btn-outline-secondary flex-column" routerLink="/contact">
      Need Help?
      <span class="btn__secondary-text">Contact us</span>
    </a>
  </div>
</div>

<div class="page-section">
  <div class="container-fluid page__container">

    <!-- Toggle buttons -->
    <div class="mb-3">
      <button class="btn btn-outline-primary mr-2" (click)="mode = 'change'">
        Change Password
      </button>
      <button class="btn btn-outline-primary" (click)="mode = 'reset'">
        Reset Password
      </button>
    </div>

    <!-- Common Component -->
    <app-password-form [mode]="mode"></app-password-form>

  </div>
</div>

