<div class="mdk-header-layout__content page-content  ">
    <div class="custom-bg">
        <div class="pt-32pt pt-sm-64pt pb-32pt">
            <div class="container page__container custom-card">
                <form action="index.html" class="col-md-5 p-0 mx-auto">
                    <div class="form-group">
                        <label class="form-label" for="email">Email:</label>
                        <input id="email" type="text" class="form-control" placeholder="Your email address ..."
                            required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password:</label>
                        <input id="password" type="password" class="form-control" placeholder="Your password ..."
                            required>
                        <p class="text-right">
                            <a href="reset-password.html" class="small">Forgot your password?</a>
                        </p>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
                 <div class="page-separator justify-content-center custom-separator">
                    <div class="page-separator__text">or sign-in with</div>
                </div>

                <div class="d-flex flex-wrap justify-content-center gap-2 custom-media-card">
                    <a href="index.html" class="btn btn-secondary">Facebook</a>
                    <a href="index.html" class="btn btn-secondary">Twitter</a>
                    <a href="index.html" class="btn btn-secondary">Google+</a>
                </div>
                

                <!-- <form action="index.html" class="col-md-5 p-0 mx-auto ">
                    <div class="form-group">
                        <label class="form-label" for="email">Email:</label>
                        <input id="email" type="text" class="form-control" placeholder="Your email address ...">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password:</label>
                        <input id="password" type="password" class="form-control"
                            placeholder="Your first and last name ...">
                        <p class="text-right"><a href="reset-password.html" class="small">Forgot your password?</a></p>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form> -->
            </div>
        </div>

        <!-- <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center custom-media-card ">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <a href="index.html" class="btn btn-secondary">Facebook</a>
                <a href="index.html" class="btn btn-secondary">Twitter</a>
                <a href="index.html" class="btn btn-secondary">Google+</a>
            </div>
        </div> -->
    </div>
</div>