<mat-toolbar class="custom-toolbar">
  <span class="title-hero">EXAM PORTAL</span>
  <div class="nav-links">
    <a mat-button>Free Courses</a>
    <a mat-button>Test Packs</a>
    <a mat-button>FAQ & Support</a>
    <a mat-button>Resources</a>
    <a mat-button>Blogs</a>
    <a mat-button>Contact</a>
  </div>
  <div class="header-auth">
    <button mat-flat-button class="signin-button">Sign in</button>
    <button mat-flat-button class="register-button">Register</button>
  </div>
</mat-toolbar>