<div class="scrollable-area">

  <div class="container-fluid exam-portal-container">
    <!-- Main Content -->
    <div class="col-md-8 question-page-container #scrollContainer">
      <div class=" question-container">
        <div class="question-block ">
          <h5 class="card-title">Questions 1</h5>
          <p class="question">What is Lorem Ipsum?</p>
          <p class="question-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy
          </p>
          <div class="form-check">
            A) Lorem Ipsum B) Ipsum is simply C) simply dummy
          </div>
        </div>

        <div class="question-block mb-3">
          <h5 class="card-title">Questions 2</h5>
          <p class="question">What is Lorem Ipsum? </p>
          <p class="question-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy
          </p>
          <div class="form-check">
            A) Lorem Ipsum B) Ipsum is simply C) simply dummy
          </div>
        </div>
        <div class="question-block mb-3">
          <h5 class="card-title">Questions 2</h5>
          <p class="question">What is Lorem Ipsum? </p>
          <p class="question-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy
          </p>
          <div class="form-check">
            A) Lorem Ipsum B) Ipsum is simply C) simply dummy
          </div>
        </div>
        <div class="question-block mb-3">
          <h5 class="card-title">Questions 2</h5>
          <p class="question">What is Lorem Ipsum? </p>
          <p class="question-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy
          </p>
          <div class="form-check">
            A) Lorem Ipsum B) Ipsum is simply C) simply dummy
          </div>
        </div>
        <div class="question-block mb-3">
          <h5 class="card-title">Questions 2</h5>
          <p class="question">What is Lorem Ipsum? </p>
          <p class="question-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy
          </p>
          <div class="form-check">
            A) Lorem Ipsum B) Ipsum is simply C) simply dummy
          </div>
        </div>

        <div class="question-block mb-3">
          <h5 class="card-title">Questions 3</h5>
          <p class="question">What is Lorem Ipsum?</p>
          <p class="question-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy
          </p>
          <div class="form-check">
            A) Lorem Ipsum B) Ipsum is simply C) simply dummy
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="answer-panel">
    <div class="answer-item">
      <span class="answer-title">Question 1</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="answer-item mb-3">
      <span class="answer-title">Question 3</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>