<div class="scrollable-area">
  <div class="container-fluid exam-portal-container">
    <div class="col-md-8 question-page-container" tabindex="0">
      <div class=" question-container">
        <div class="question-block ">
          <h5 class="card-title">Question 1</h5>
          <p class="question">The area of this triangle is:</p>
          <img class="question-description" src="/triangle.jpg" alt="triangle image">
          <div class="form-check">
            A) 168 cm<sup>2</sup> B) 210cm<sup>2</sup> C) 84cm<sup>2</sup> D) 200<sup>2</sup>
          </div>
        </div>

        <div class="question-block mb-3">
          <h5 class="card-title">Question 2</h5>
          <p class="question">What is the difference between the 15<sup>th</sup> perfect square and the 14<sup>th</sup>
            perfect square? </p>
          <p class="question-description">
          </p>
          <div class="form-check">
            A) 15 B) 29 C) 31 D) 30
          </div>
        </div>
        <div class="question-block mb-3">
          <h5 class="card-title">Question 3</h5>
          <p class="question">Solve for θ&deg;</p>
          <img src="/image3.jpg" alt="" class="question-description">
          <div class="form-check">
            A) 28&deg; B) 36&deg; C) 48&deg; D) 56&deg;
          </div>
        </div>
        <div class="question-block mb-3">
          <h5 class="card-title">Question 4</h5>
          <p class="question">Factorise the following.</p>
          <p class="question-description">
            -8x - 48
          </p>
          <div class="form-check">
            A) 8(x+6) B) -8(x-6) C) -8(x+6) D) -8x - 48
          </div>
        </div>
        <div class="question-block mb-3">
          <h5 class="card-title">Question 5</h5>
          <p class="question">A table below shows the number of students in a school band who play particular
            instrument.
            <img src="/table.jpg" alt="table">
          </p>
          <p class="question-description">
            A new French horn joined, three trumpets changed to drums and a clarinet left the band.
            Which bar chart shows the new information?
            <img src="/barchart.jpg" alt="barchart">
          </p>
          <div class="form-check">
            A) Chart A B) Chart B C) Chart C D) Chart D
          </div>
        </div>

        <div class="question-block mb-3">
          <h5 class="card-title">Questions 6</h5>
          <p class="question"> Frank was moving the lawn. In one hour, he finished 20%. In the hours following, he
            completed 50% of the remaining lawn per hour. For how many hours was Frank moving until he got to the last
            10% of the lawn?
          </p>
          <p class="question-description">
          </p>
          <div class="form-check">
            A) 1 hour B) 2 hours C) 3 hours D) 4 hours
          </div>
        </div>
        <div class="question-block" mb-3>
          <h5 class="card-title">Question 7</h5>
          <p class="question">Simplify and evaluate</p>
          <p class="question-description"> 5 log<sub>3</sub>4 - 4 log<sub>3</sub>2 - 2 log<sub>3</sub>8</p>
          <div class="form-check">
            A) 0 B) 2 C) 3 D) 1
          </div>
        </div>
      </div>
      <div class="question-block" mb-3>
        <h5 class="card-title">Question 8</h5>
        <p class="question">√50 + √48 - √18 =</p>
        <p class="question-description"> </p>
        <div class="form-check">
          A) m = 4 B) m = 32 C) m = -1 D) m = -4
        </div>
      </div>
      <div class="question-block" mb-3>
        <h5 class="card-title">Question 9</h5>
        <p class="question">What is the next number in the series?</p>
        <p class="question-description"> 8 19 41 ? 173 </p>
        <div class="form-check">
          A) 73 B) 148 C) 126 D) 85
        </div>
      </div>
      <div class="question-block" mb-3>
        <h5 class="card-title">Question 10</h5>
        <p class="question">Which one of the following graphs has no x-intercept?</p>
        <p class="question-description"> </p>
        <div class="form-check">
          A) y = (x+3)(x+5) B) y = 9x<sup>2</sup> - 24x - 9 C) y = 2x<sup>2</sup> + 5x -7 D) y = 5x<sup>2</sup> + 7
        </div>
      </div>
    </div>
  </div>

  <div class="answer-panel" tabindex="0">
    <div class="answer-item">
      <span class="answer-title">Question 1</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="answer-item">
      <span class="answer-title">Question 2</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 3</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 4</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 5</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 6</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 7</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 8</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 9</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="answer-item">
      <span class="answer-title">Question 10</span>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="A">A)</mat-radio-button>
        <mat-radio-button value="B">B)</mat-radio-button>
        <mat-radio-button value="C">C)</mat-radio-button>
        <mat-radio-button value="D">D)</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>